- if @subscription.persisted?
    = button_to 'Unsubscribe', subscription_path(@subscription), remote: true, method: :delete,  class: 'unsubscribe-link'
- else
    = button_to 'Subscribe', question_subscriptions_path(@question), remote: true, method: :post,  class: 'subscribe-link'
